node_modules/

scripts/.env.sh
scripts/services/.env.server.sh

# Temporary ignoring repos not added to submodules
#Real-ESRGAN/
Read3D-Interface/

# Probably never going to use it
GPT-SoVITS/
GeneFacePlusPlus/

# Ignoring the buckets folder
buckets/