node_modules/

scripts/.env.sh
scripts/.env.server.sh

# Temporary ignoring repos not added to submodules
videoCutting/
Real-ESRGAN/
Read3D-Interface/

# Probably never going to use it
GPT-SoVITS/
GeneFacePlusPlus/